//- include ../layout/mixins/img

mixin pagination()
    .pagination(class!=attributes.class)
        .pagination__control.control.--prev.--disabled
            +img('chevron.svg', 'icon')
        nav.pagination__pages
            .pagination__page.--current 1
            a.pagination__page(href="") 2
            a.pagination__page(href="") 3
            a.pagination__page(href="") 4
            a.pagination__page(href="") 5
            a.pagination__page(href="") 6
        a.pagination__control.control.--next(href="")
            +img('chevron.svg', 'icon')
    +style('pagination', 'comp')