section.about.case
    .about__title.h1 #[h1 как появилась Зерновая]
    .about__list
        .about__item
            .about__text
                p Все началось в 2014 году, когда Артём Карпов и Илья Суковатый открыли небольшую кофейню около Тульского педагогического университета. Спустя год они начали обжаривать зерно себе и еще нескольким ресторанам и кофейням в городе. Так ребята начали сотрудничать с кофейней “Зёрна”, которой владел Артём Лютов. 
                p После полугода работы в таком формате Артёму Лютову захотелось развития: перспективу он видел в обжарке зерна. Начались переговоры, после которых проекты объединились в один. Так начала зарождаться та Зерновая, которую вы знаете сейчас. 
                p Пока в помещении “Зёрен” на Учётном переулке шел ремонт, на старом производстве “Фабрики кофе“ (бывший проект Артёма и Ильи) ребята продолжали обжаривать кофе. Нужно было определиться с концепцией компании: после долгих обсуждений сошлись на том, что это будет минималистичная ростерия. 
                p Тут появилась новая проблема - название. Можно было оставить одно из предыдущих, “Зёрна” или “Фабрика кофе”, были и новые идеи. Уже даже появилась концепция для логотипа, как вдруг Илья придумал слово, которое стало квинтэссенцией всего, что обсуждали ребята. Как вы могли догадаться, это слово - Зерновая.
            .about__img.img.--lg
                +img('about-2.jpg')
        .about__item
            .about__text
                h2 Зерновая
                p Закончив ремонт, мы начали обжаривать зерно прямо в обновленном шоуруме. Но проект быстро набирал обороты - ростеру требовалось отдельное помещение, чтобы не мешать людям в кофейне. Поэтому мы оборудовали свое собственное производство в Туле. Стали совсем серьезными ребятами! <br> Сейчас Зерновая - это история про людей, которые в восторге от кофе. Вместе мы проходим обучения, участвуем в чемпионатах, в общем, постоянно становимся лучше, чтобы делать еще более качественный продукт. А еще мы считаем важным рассказывать нашим гостям, что кофе не такой сложный, как может показаться со стороны. 
            .about__img.img
                +img('logo-bg.png')
+style('about', 'blocks')