.footer
    margin-top: auto
    color: var(--color-white)
    background: #211F1F
    &__top
        padding-top: 70px
        padding-bottom: 80px
    &__body
        align-items: flex-start
        padding-top: 14px
        padding-bottom: 34px
        border-top: 1px solid #E3E3E3
    &__info
        max-width: 220px
    &__logo
        display: block
        width: 75px
        height: 44px
        margin-bottom: 23px
        path
            fill: var(--color-white)
    &__copy, &__link
        font-size: 14px
        line-height: 1
    &__copy
        margin-bottom: 12px
    &__link
        a
            border-bottom: 1px solid var(--color-white)
            &:hover
                border-color: transparent
    &__nav
        margin-left: 70px
        display: flex
        max-width: 420px
        padding-top: 6px
        margin-bottom: -20px
        &-item
            width: 50%
            padding-right: 30px
            margin-bottom: 20px
            &:nth-of-type(2n)
                padding-right: 0
        &-link
            display: inline-block
            line-height: 1
            border-bottom: 1px solid transparent
            &:hover
                border-color: var(--color-white)
    &__contacts
        margin-left: auto
        display: flex
        flex-direction: column
        align-items: flex-end
    &__feedback
        align-items: center
        margin-bottom: 11px
    &__socials
        margin-right: 37px
        &-list
            align-items: center
        &-item
            margin-right: 17px
            &:last-child
                margin-right: 0
    &__callback
        margin-bottom: 23px
        a
            border-bottom: 1px solid transparent
            &:hover
                border-color: var(--color-white)
    &__pays
        align-items: center
    &__pay
        margin-right: 23px
        &:last-child
            margin-right: 0
