include ../../components/radio/radio

section.order.case
    .order__title.h2 #[h1 Оформление заказа] #[span 3 товара]
    .order__wrap.row
        .order__steps
            .order__step
                .order__head
                    .order__count.--current 1
                    .order__subtitle.h3 Контактные данные
                .order__body
                    .order__field.field.--md.--b-gray.--name.--radius.--required
                        .field__wrap
                            .field__placeholder Имя
                            input.field__area(type="" name="")
                    .order__field.field.--md.--b-gray.--name.--radius.--required
                        .field__wrap
                            .field__placeholder Фамилия
                            input.field__area(type="" name="")
                    .order__field.field.--md.--b-gray.--tel.--radius.--required
                        .field__wrap
                            .field__placeholder Телефон
                            input.field__area(type="" name="")
                    .order__field.field.--md.--b-gray.--email.--radius.--required
                        .field__wrap
                            .field__placeholder Электронная почта
                            input.field__area(type="" name="")
                    .order__field.field.--md.--b-gray.--radius.--textarea.--comment.--full
                        .field__wrap
                            .field__placeholder Комментарий к заказу
                            textarea.field__area(type="" name="")
            .order__step
                .order__head
                    .order__count 2
                    .order__subtitle.h3 Доставка
                .order__body
                    .order__radios
                        +radio('Доставка по городу Тула', 'delivery', true)(class="order__radio --md")
                        +radio('Самовывоз', 'delivery')(class="order__radio --md")
                        +radio('Отправка по адресу', 'delivery')(class="order__radio --md")
                    .order__field.field.--md.--b-gray.--name.--radius.--required
                        .field__wrap
                            .field__placeholder Город
                            input.field__area(type="" name="")
                    .order__field.field.--md.--b-gray.--name.--radius.--required
                        .field__wrap
                            .field__placeholder Улица, дом
                            input.field__area(type="" name="")
            .order__step
                .order__head
                    .order__count 3
                    .order__subtitle.h3 Оплата
                .order__body
                    .order__radios
                        +radio('Наличными при получении', 'pay', true)(class="order__radio --md")
                        +radio('Банковской картой', 'pay')(class="order__radio --md")
                    .order__field.field.--md.--b-gray.--name.--radius.--full
                        .field__wrap
                            .field__placeholder Промокод
                            input.field__area(type="" name="")
        - cTotalOrder = true
        - cTotalClass = 'order__total'
        include ../c-total/c-total
    .order__modal#order-modal-thanks
        .order__modal-title.h2 Ваш заказ успешно оформлен. Чек мы отправили на почту.
        .order__modal-link #[a(href="index.html") На главную]

+style('order', 'blocks')