.production.case
    .production__title.h2 #[h2 Производство]
    .production__text
        p Нам важно всегда получать стабильно вкусный кофе. Для этого мы оборудовали собственное производство: там найдется всё необходимое для контроля качества каждой партии. <br>Для обжарки мы используем ростер от компании Probat. В нем есть все, что нужно  для получения классного результата: двойной барабан, внешние части из чугуна, которые помогают сохранить тепло внутри, охладитель с собственным моторчиком для уже обжаренного зерна. Отдельно мы используем дестонер - он отделяет зерно от мусора. Так что в пачки к вам не попадет ничего лишнего! <br>Помимо этого, мы часто проводим каппинги для проверки качества: берем несколько образцов из разных партий и сравниваем их. 
        img(src=require('Images/intro-opt-bg.jpg') alt="")