include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/pagination/pagination
include ../../blocks/product/product

+style('catalog', 'blocks')
+style('filter', 'blocks')
+style('product', 'blocks')
+style('stats', 'blocks')
+style('price', 'blocks')
section.catalog.case
    .catalog__wrap
        aside.catalog__filter.filter
            .filter__btn-toggle.btn
                .btn__text Фильтры
                .btn__icon
                    +img('')
            .filter__block
                .filter__title Обжарка
                .filter__inner
                    .filter__list
                        +checkbox('Эспрессо', 'Обжарка', true)(class="filter__checkbox --sm")
                        +checkbox('Фильтр', 'Обжарка')(class="filter__checkbox --sm")
            .filter__block
                .filter__title Страна произростания
                .filter__inner
                    .filter__list
                        +checkbox('Индия', 'Страна произростания')(class="filter__checkbox --sm")
                        +checkbox('Индонезия', 'Страна произростания')(class="filter__checkbox --sm")
            .filter__block
                .filter__title Способ обработки
                .filter__inner
                    .filter__list
                        +checkbox('Мытый', 'Способ обработки')(class="filter__checkbox --sm")
                        +checkbox('Мытый', 'Способ обработки')(class="filter__checkbox --sm")


            .filter__block
                .filter__title Кислотность
                .filter__inner
                    .filter__list
                        +checkbox('Низкий', 'Кислотность')(class="filter__checkbox --sm")
                        +checkbox('Средний', 'Кислотность')(class="filter__checkbox --sm")
                        +checkbox('Высокий', 'Кислотность')(class="filter__checkbox --sm")

            .filter__block
                .filter__title Способ заваривания
                .filter__inner
                    .filter__list
                        +checkbox('Для кофемашин 1', 'Способ заваривания')(class="filter__checkbox --sm")
                        +checkbox('Для кофемашин 2', 'Способ заваривания')(class="filter__checkbox --sm")
                        +checkbox('Для кофемашин 3', 'Способ заваривания')(class="filter__checkbox --sm")
            .filter__block
                .filter__title Другие товары для кофе
                .filter__inner
                    .filter__list
                        +radio('Значение 1', 'Другие товары для кофе')(class="filter__radio --sm")
                        +radio('Значение 2', 'Другие товары для кофе')(class="filter__radio --sm")
                        +radio('Значение 3', 'Другие товары для кофе')(class="filter__radio --sm")
        section.catalog__inner
            .catalog__sort.row
                .catalog__sort-title Сортировать по:
                .catalog__sort-select.select.--xs.--b-gray
                    select
                        option(name="" selected="selected") По цене ↓
                        option(name="") По цене ↑
                .catalog__sort-select.select.--xs.--b-gray
                    select
                        option(name="" selected="selected") По популярности
                        option(name="") По наличию
            .catalog__list.--w3
                +product()
                +product()
                +product()(disabled=true)
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
                +product()
    +pagination()(class="catalog__nav")

