extends ../layout/template
block vars
    -
        //- headerGray = true
        //- footerWhite = true
        //- footerSubHide = true
        title = "Корзина"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb
    +style('breadcrumb', 'comp')

    include ../blocks/cart/cart