extends ../layout/template
block vars
    -
        title = "Корзина"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb

    include ../blocks/cart/cart