extends ../layout/template
block vars
    -
        title = "Каталог"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb
    
    include ../blocks/catalog/catalog