extends ../layout/template
block vars
    -
        title = "Контакты"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb

    include ../blocks/contacts/contacts