extends ../layout/template
block vars
    -
        title = "Доставка и оплата"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb
    +style('breadcrumb', 'comp')

    - workClass = '--pt0'
    include ../blocks/work/work

    include ../blocks/text/text