 extends ../layout/template
block vars
    -
        title = "Заказ №8289"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb

    - paOrdersItem = true
    //- include ../blocks/pa/pa