extends ../layout/template
block vars
    -
        title = "Заказы"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb

    - paOrders = true
    include ../blocks/pa/pa