extends ../layout/template
block vars
    -
        headerGray = true
        title = "Карточка товара"
        breadcrumbs = [
            ['Главная', 'index.html'],
            ['Каталог', 'catalog.html'],
            [title]
        ]
block content
    include ../components/breadcrumb/breadcrumb
    +breadcrumb
    +style('breadcrumb', 'comp')

    include ../blocks/card/card

    include ../blocks/desc/desc

    include ../blocks/work/work

    -
        favs = [
            {
                title: 'Вы смотрели',
                list: [
                    { img: 'product-1.png' },
                    { img: 'product-1.png' },
                    { img: 'product-1.png' },
                    { img: 'product-1.png' },
                    { img: 'product-1.png' },
                    { img: 'product-1.png' },
                ]
            },
        ]
        favsClass = '--pt0 --pb'
    include ../blocks/favs/favs

    +script('favs', 'blocks')
    +script('product', 'blocks')