extends ../layout/template
block vars
    -
        title = "Карта сайта"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    .sitemap.case
        mixin link(name, href)
            li
                a(href=href target="_blank")= name
        ul
            +link('Главная', '/index.html')
            +link('О нас', '/about.html')
            +link('Опт', '/opt.html')
            +link('Блог', '/blog.html')
            +link('Статья', '/article.html')
            +link('Доставка и оплата', '/delivery-pay.html')
            +link('Политика / текстовая', '/privacy-policy.html')
            +link('Контакты', '/contacts.html')
        ul
            +link('Каталог', '/catalog.html')
            +link('Карточка товара', '/product.html')
            +link('Корзина', '/cart.html')
            +link('Оформление заказа', '/order.html')
            
        ul
            +link('Вход', '/login.html')
            +link('Регистрация', '/reg.html')
            +link('Сброс пароля', '/reset.html')
            +link('Личные данные', '/pa.html')
            +link('Мои заказы', '/orders.html')
            +link('Заказ', '/orders-item.html')
            +link('Адреса', '/addresses.html')
            +link('Уведомления', '/nots.html')
            +link('Избранные товары', '/favorits.html')