extends ../layout/template
block vars
    -
        title = "Карта сайта"
        breadcrumbs = [
            ['Главная', 'index.html'],
            [title]
        ]
block content
    .sitemap
        mixin link(name, href)
            li
                a(href=href target="_blank")= name
        ul
            +link('Главная', '/index.html')