.job.case
    .job__text
        h2 Устойчивое развитие
        h4 В своей работе мы придерживаемся принципов устойчивого развития. <br>Например, активно развиваем социальное и экономическое направления: 
        ul
            li Проводим бесплатные мероприятия, направленные на популяризацию кофейного движения.
            li Даем людям стабильную работу и повышаем их квалификацию. 
        h5 Помимо этого, мы заботимся об окружающей среде: 
        ul
            li Вторично используем упаковку.
            li Рассказываем людям о вреде пластиковых крышек и просим не использовать их без необходимости.
            li Сдаем пластиковые пробки от молока на переработку.
            li Передаем продукты отходов обжарки для удобрения почв.
            li Кофейные мешки отдаем на производство утеплителей для домов.
        h2 Работа у нас
        h4 Мы стремительно развивающийся проект. Поэтому у нас частенько открываются новые вакансии. Вот почему работать в Зерновой - перспективно и круто:
        ul
            li Проводим обучения для сотрудников. 
            li Корпоративные бонусы, например, скидки на продукцию Зерновой и в проектах наших партнеров.
            li Развитие внутри компании, так как регулярно появляются дополнительные направления.
            li Рост заработной платы пропорционален росту обязанностей.
    .job__list
        mixin jobItem
            .job__item
                .job__name Длинное название вакансии
                .job__price от 50 000 руб.
                .job__text Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
                a.job__btn.btn.--md.--bg-black(href="javascript:;" data-fancybox="" data-src="#modal-job") Оставить заявку
        +jobItem
        +jobItem
        +jobItem