include ../../components/pagination/pagination

section.blog.case
    .blog__title.h2 #[h1 Блог]
    .blog__list.row
        mixin blogItem(img = '')
            article.blog__item.bgw(class!=attributes.class)
                .blog__inner
                    .blog__data
                        .blog__data-item
                            .blog__data-icon
                                +img('calendar.svg')
                            .blog__data-value 31 мая 2022
                        .blog__data-item
                            .blog__data-icon
                                +img('clock.svg')
                            .blog__data-value 10 мин. на чтение
                        .blog__data-item
                            .blog__data-icon
                                +img('eye.svg')
                            .blog__data-value 158 просмотров
                    .blog__content
                        .blog__name.h4 #[a(href="article.html") Экспериментальные методы обработки кофе в Гватемале]
                        .blog__desc Узнайте как еще обрабатывают кофе в стране
                .blog__bg.bg
                    +img(img)
        +blogItem('blog-1.jpg')(class="--lg")
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-2.jpg')(class="--lg")
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
        +blogItem('blog-1.jpg')
    +pagination()(class="blog__pagination")

+style('blog', 'blocks')