include ../c-item/c-item

+style('cart', 'blocks')
+style('c-item', 'blocks')
section.cart.case
    .cart__title.h2 #[h1 Корзина] #[span 3 товара]
    .cart__wrap.row
        .cart__list
            +cartItem()(class="cart__item")
            +cartItem()(class="cart__item")
            +cartItem()(class="cart__item")
        
        - cTotalClass = 'cart__total'
        include ../c-total/c-total

+script('product', 'blocks')