.cart
    --cart-total-width: 465px
    padding-bottom: 100px
    &__wrap
        align-items: flex-start
    &__title
        margin-bottom: 45px
        h1, span
            display: inline
        span
            font-size: 14px
            line-height: 1.5
            font-weight: 400
            color: var(--color-gray)
            margin-left: 9px
    &__list
        width: calc(100% - var(--cart-total-width))
        padding-right: 90px
    &__item
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0

    &__total
        width: var(--cart-total-width)
        margin-top: 15px
