.we.case
    .we__wrap
        .we__title #[h2 Производство и интернет-магазин свежеобжареного кофе]
        .we__text
            p Наша цель — познакомить каждого с миром кофе и создать продукт, понятный любому! Мы занимаемся обжаркой больше 5 лет и постоянно находимся в поиске классного зерна, экспериментируем с ферментацией и обжаркой и прислушиваемся к запросам наших партнеров.
            p Зерновая родом из Тулы — промышленного города мастеров. Нас вдохновляют ценности туляков, которые создавали оружие и машины, и мы стараемся следовать их высоким стандартам.
        .we__imgs
            .we__img
                +img('about-1.jpg')
            .we__img
                +img('about-2.jpg')
+style('we', 'blocks')