section.work.case(class=workClass)
    .work__title.h2 #[h2 Как мы работаем]
    .work__list.row
        .work__col
            .work__item.--delivery
                .work__name #[h3 Доставка]
                .work__text
                    h4 По Туле и области в пределах 50 км
                    p Бесплатно
                    h4 По ЦФО
                    p По тарифам транспортной компании
                .work__img
                    +img('bus.png')
        .work__col
            .work__item.--pay
                .work__name #[h3 Оплата]
                .work__text
                    p Все оплаты проходят через сервис Tinkoff Pay, что позволяет обеспечить безопасность ваших данных и точность транзакций.
                .work__img
                    +img('tinkoff-logo.png')
        .work__col
            .work__item.--buy
                .work__name #[h3 Покупка в шоуруме]
                .work__text
                    p Мы рады видеть вас в нашем шоуруме, где вы можете попробовать и приобрести любой вид кофе от Зерновой
                    h5 Адрес:
                    p г.Тула пр-кт Ленина, 24
                .work__img
                    +img('logo.svg')
+style('work', 'blocks')