.edu.case
    .edu__text
        h2 Частенько проходим обучения у людей из индустрии: 
        ul
            li #[strong Barista skills intermediate] у Николая Стрельникова
            li #[strong Q-каппинг] у Полины Владимировой
            li #[strong Несколько курсов по обжарке] от Чемпионов
            li #[strong Курс “Sensory skill”] от Дарьи Захаровой
        p В 2021 году мы вошли в топ-50 обжарщиков #[strong “TheRussian’s50BestRoasters”] по всей России по результатам народного голосования.