section.slide.case.bg-wrap
    .slide__content
        .slide__title.h1 #[h1= slideTitle]
        .slide__text= slideText
        a.slide__btn.btn.--lg.--bg-white(href="")= slideBtn
    .slide__bg.bg
        +img(slideBg)
