doctype html
block vars
include mixins
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="format-detection" content="telephone=no")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        title=title
        link(rel="apple-touch-icon" sizes="180x180" href="_/images/favicon.svg")
        link(rel="icon" type="image/svg" sizes="16x16" href="_/images/favicon.svg")
        link(rel="icon" type="image/svg" sizes="32x32" href="_/images/favicon.svg")
    body
        .wrap
            +style('main.sass')

            
            include ../blocks/header/header
            
            main.main
                block content
            
            include ../blocks/footer/footer
            include ../blocks/auth/auth

            +script('main.js')